# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# Obfuscation and symbol files
app.*.symbols

# Android specific
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.keystore

# iOS specific
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine/
Flutter/ephemeral/

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/

# Firebase configs (safe to ignore locally)
firebase.json
*.lock

# Logs
*.log

# Others
.env
